					
					
					body,h1,h2,h3,h4,h5,h6 {font-family: : "Lato" , sans-serif;}
					body , html {
						height : 100%;
						color : #777;
						line-height : 1.8;	
					} 

					/* create a parallex Effect in the web site I am take this template from w3schools.com */

					.bgimg-1, .bgimg-2, .bgimg-3 {
						background-attachment : fixed;
						background-position : center;
						background-repeat : no-repeat;
						background-size : cover;  
					}

					/* first image (Logo. Full height) */
						.bgimg-1 {
							background-image : url("item_AIDbs.JPEG");
							min-height : 100%;   
						}

					/* second image (Portofolio) */
						.bgimg-2 {
							background-image : url("") ;
							min-height : 400px; 
						}

					/* third image (Contact) */
						.bgimg-3 {
							background-image: url("");
							min-height: 400px;
						}

						.w3-wide {letter-spacing: 10px;}
						.w3-hover-opacity {cursor: pointer;}

					/* Turn of parallax scrolling for tablets and phones */

						@media only screen and (max-device-width : 	1024px) {
							.bgimg-1, .bgimg-2, .bgimg-3 {
								background-attachment: scroll;
							}
						} 